*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px ;
    
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px ;
    padding: 40px 30px 70px ;
    border-radius: 10px;
        /* makes the border rounder */
}

.todo-app h2{
    color: #002765;
    display: flex; /* to align the icon and the text */
    align-items: center;
    margin-bottom: 20px;
    margin-left: 140px;
    
}

.todo-app img{
    width: 70px; /* the whole size of the image */
       /* the distance from the txt to the image */
    
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;   /* evenly distributer in the whole line */
    background: #edeef0;
    border-radius: 30px;
    padding-left: 10px;
    margin-bottom: 25px; /* bottom diye ektu jaga take ektu boro korse */
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.row  button{
    border: none;
    outline: none;
    padding: 16px 35px;
    background: #592d94;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
 ul li{
    list-style: none;
    font-size: 17px;
    /*      top | right | bottom | left IF we use four if 3 then mid one is left and right */ 
    padding: 12px 8px 12px 50px;
    user-select: none ;   /* text select is off if its auto then the text can be copied */
    cursor: pointer;
    position: relative;
 }

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

ul li.checked{
    color: #002765;
    text-decoration: line-through;

}

ul li.checked::before{
    background-image: url(images/checked.png); 
    background-color: orange;
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}

ul li span:hover{
    background: grey;
}